.troubleshooting {
	display: flex;
	align-self: center;
	margin: min(2rem, 1rem) auto min(2rem, 1rem) auto;
	padding: 1rem;
	background-color: rgba(var(--mid-grey), 0.25);
	border-radius: 4px;
	width: min(100%, 60ch);
}

.troubleshooting  h3 {
	text-align: center;
}

.troubleshooting nav {
	display: flex;
	justify-content: center;
	gap: 1rem;
	margin-top: 1rem;
	align-items: center;
}
