.troubleshooting {
	display: flex;
	align-self: center;
	margin: min(2rem, 1rem) auto min(2rem, 1rem) auto;
	padding: 1rem;
	background-color: rgba(var(--mid-grey), 0.25);
	border-radius: 4px;
	width: min(100%, 60ch);
}

.troubleshooting  h3 {
	text-align: center;
}

.troubleshooting nav {
	display: flex;
	justify-content: center;
	gap: 1rem;
	margin-top: 1rem;
	align-items: center;
}

.slide-appear {
	opacity: 0;
	transform: scale(0.6);
}

.slide-appear-done {
	opacity: 1;
	transition: all 400ms;
	transform: scale(1);
}

.slide-enter {
	opacity: 0;
	transform: scale(0.3);
}

.slide-enter-active {
	opacity: 1;
	transition: all 400ms ease-out;
	transform: scale(1);
}

.slide-exit {
	opacity: 1;
}

.slide-exit-active {
	opacity: 0;
	transition: all 400ms ease-in;
	transform:  scale(0.3);
}
